<div class="auth-form-title text-center">
    کد تایید را وارد کنید
</div>
<div class="form-element-row">
    <label for="lbp-section-input" class="label-element">


        کد تایید برای ایمیل {{ email_address }} ارسال شد

    </label>
    <div class="form-element-row">
        <input type="text" class="input-element bi-30 text-center text-otp text-left" maxlength="5" autofocus
               id="lbotp-section-input" onkeyup="lbotp_section_input_check()">
    </div>


</div>

<div class="form-element-row text-center">
    <button class="btn-element btn-login" id="lbotp-section-btn" onclick="lbotp_section_btn()" type="button"
            disabled>
        تایید
                                            <span id="loading-icon">

                                    </span>
    </button>
</div>
<div class="auth-form-footer ">
    <span class="text-gray resend-counter"  >ارسال مجدد بعد از <span id="resend-otp-counter"></span></span>
    <button type="button" class="text-blue resend-button no-style-btn" onclick="ResendOTP('{{ email_address }}')" style="display: none" >ارسال مجدد</button>


</div>


