<div class="auth-form-title text-center">
    ورود به راکافا
</div>
<div class="form-element-row">
    <label for="lbp-section-password-input" class="label-element">


        کلمه عبور خود را وارد کنید


    </label>
    <div class="form-element-row">
        <input type="password" class="input-element bi-30" id="lbp-section-password-input"
               onkeyup="lbp_section_input_check()">
    </div>

    <span class="red" id="login-form-error"></span>


</div>

<div class="form-element-row text-center">
    <button class="btn-element btn-login" id="lbp-section-btn" onclick="lbp_section_btn()" type="button" disabled>
        ورود
                                            <span id="loading-icon">

                                    </span>
    </button>
</div>
<div class="auth-form-footer ">
    <button type="button" class="text-blue resend-button no-style-btn" onclick="SendToOTPSection()">
        ورود با رمز یکبار مصرف
    </button>
    <br>
        <button type="button" class="text-blue resend-button no-style-btn mt-2" onclick="SendToResetPasswordSection()">
فراموشی رمزعبور
        </button>


</div>



