{% extends 'shared/base.html' %}
{% load poll_extras %}
{% load render_partial %}
{% load thumbnail %}


{% block title %}
    بلاگ | راکافا
{% endblock %}
{% block custom_header_references %}
    <meta name="description"
          content="اخبار و آموزش های پخت برنج,بهترین برنج,اشتباهات هنگام پخت و غیره ... در بلاگ راکافا"/>
    <meta property="og:title" content="بلاگ | راکافابلاگ | راکافا"/>
    <meta property="og:image" content="{{ product.image.url }}"/>
    <meta property="og:description"
          content="اخبار و آموزش های پخت برنج,بهترین برنج,اشتباهات هنگام پخت و غیره ... در بلاگ راکافا"/>
    <meta name="twitter:title" content="بلاگ | راکافا">
    <meta name="twitter:description"
          content="اخبار و آموزش های پخت برنج,بهترین برنج,اشتباهات هنگام پخت و غیره ... در بلاگ راکافا">
    <meta name="twitter:image" content="{{ product.image.url }}">
{% endblock %}
{% block content %}


    <div class="page-wrapper">


        <!-- Page Content -->
        <main class="page-content">
            <div class="container">
                <div class="row mb-5">

                    {% render_partial 'site_blog.views.BlogSidebarComponent' %}


                    <div class="col-lg-9 col-md-8">
                        <div class="d-md-none">
                            <button class="btn-filter-sidebar">
                                جستجوی پیشرفته <i class="fad fa-sliders-h"></i>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!-- breadcrumb -->
                                <div class="breadcrumb mb-2 pt-2">
                                    <nav>
                                        <a href="{% url 'home_page' %}">صفحه اصلی</a>
                                        <a href="{% url 'blog_list' %}">وبلاگ</a>
                                    </nav>
                                </div>
                                <!-- end breadcrumb -->
                            </div>
                        </div>
                        <div class="listing-items blog-listing-items">
                            <div class="row">
                                {% if object_list %}

                                    {% for blog in object_list %}

                                        <div class="col-lg-4 col-sm-6 mb-3">
                                            <div class="blog-card">
                                                <div class="blog-card-thumbnail">
                                                    <a href="{{ blog.get_absolute_url }}">
                                                        {% thumbnail blog.image "311x200" crop='center' as im %}

                                                            <img src="{{ im.url }}"
                                                                 alt="{{ blog.title_ir }}" title="{{ blog.title_ir }}">
                                                        {% endthumbnail %}

                                                    </a>
                                                </div>
                                                <div class="blog-card-title">
                                                    <h2><a href="{{ blog.get_absolute_url }}">{{ blog.title_ir }}</a>
                                                    </h2>
                                                </div>
                                                <div class="blog-card-excerpt">

                                                    {{ blog.short_description|safe|truncatechars_html:100 }}


                                                </div>
                                                <div class="blog-card-footer">
                                                    <div class="author">
                                                        <i class="fad fa-book-user"></i>
                                                        {{ blog.author.get_full_name }}

                                                    </div>
                                                    <div class="date">
                                                        <i class="fad fa-clock"></i>
                                                        {{ blog.create_date|show_jalali_date }}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-lg-12 col-md-12 col-sm-12 px-0">

                                        <div class="empty-box">
                                            <div class="icon">
                                                <i class="fal fa-times-circle"></i>
                                            </div>
                                            <div class="message">
                                                <p>پستی برای نمایش یافت نشد!</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            {% if paginator.num_pages >= 2 %}

                                <div class="col-12 px-0">
                                    <div class="pagination">
                                        {% if page_obj.has_previous %}
                                            <a type="button" href="?page={{ page_obj.previous_page_number }}"
                                               class="prev">
                                                <i class="far fa-arrow-from-left"></i></a>
                                        {% endif %}
                                        {% for pagenumber in paginator.page_range %}

                                            <a href="?page={{ pagenumber }}"
                                               class="{% if page_obj.number == pagenumber %}current{% endif %}">{{ pagenumber }}</a>
                                        {% endfor %}


                                        {% if page_obj.has_next %}
                                            <a type="button" href="?page={{ page_obj.next_page_number }}"
                                               class="prev">
                                                <i class="far fa-arrow-to-left"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- end Page Content -->

    </div>


{% endblock %}