{% extends 'shared/base.html' %}


{% block title %}
    قوانین و مقررات | راکافا
{% endblock %}
{% block custom_header_references %}
    <meta name="description" content="{{ setting.site_rules|safe|truncatechars:100 }}"/>
    <meta property="og:title" content="قوانین و مقررات | راکافا"/>
    <meta property="og:image" content="{{ setting.site_logo.url }}"/>
    <meta property="og:description" content="{{ setting.site_rules|safe|truncatechars:100 }}"/>
    <meta name="twitter:title" content="قوانین و مقررات | راکافا">
    <meta name="twitter:description" content="{{ setting.site_rules|safe|truncatechars:100 }}">
    <meta name="twitter:url" content="{{ request.build_absolute_uri }}"/>
{% endblock %}
{% block content %}
    <div class="main">
        <div class="page-content bg-lighter pt-5">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0 ">
                <div class="container d-flex align-items-center ">
                    <ol class="breadcrumb bg-lighter">
                        <li class="breadcrumb-item"><a href="{% url 'home_page' %}">خانه</a></li>
                        <li class="breadcrumb-item "><a href="{% url 'terms_page' %}" class="text-dark">

                           قوانین و مقررات

                        </a></li>
                    </ol>

                </div><!-- End .container -->
            </nav>

            <div class="container my-5 pb-5 cs-box p-5 ">
                <h2 class="title text-center mb-3">
                        <li>قوانین و مقررات</li>
                </h2><!-- End .title -->

                <div class="text-right">
                    {{ setting.site_terms|safe }}
                </div>
            </div>
        </div><!-- End .container -->
    </div>
    </div>
{% endblock %}